$primary-color: rgb(19, 27, 55)
$highlight-color: rgb(238, 40, 48)

$secondary-color: scale-color($primary-color, $saturation: -50%, $lightness: 20%)
$tertiary-color: scale-color($primary-color, $saturation: 50%, $lightness: -20%)
$quadrary-color: adjust-color($primary-color, $hue: -50deg)

$background-color: $secondary-color
$foreground-color: adjust-color($background-color, $hue: 180deg, $saturation: -50%, $lightness: 50%)

$link-color: adjust-color($foreground-color, $hue: 180deg, $saturation: 100%)
$link-visited-color: mix($link-color, $highlight-color, 50%)

$column-background-color: #e0dede
$column-foreground-color: #4d4d4d