@import url('https://fonts.googleapis.com/css?family=Exo+2:700|Exo:800|Play:700|Share+Tech+Mono|Titillium+Web')
@import './functions.sass'
@import './bpmaps.scss'
@import './colors.sass'

$display-font: 'Exo 2', sans-serif
$display-font-alt: 'Exo', sans-serif
$heading-font: 'Play', sans-serif
$body-font: 'Titillium Web', sans-serif
$monospace-font: 'Share Tech Mono', monospace
$social-font: 'SocIcons', monospace

$base-font-size: 24px
$base-line-height: 36px

$font-sizes: (p, bq, ssh, sh, h, hero)

=generate-font-properties($label, $base-font-size, $base-line-height, $scale)
    $scale-value: index($font-sizes, $label) - 1
    $fs: $base-font-size * pow($scale, $scale-value)
    $lh: $base-font-size * $base-line-height / $fs

    @while $lh < 1
        $lh: $lh + $lh
    
    font-size: $fs
    line-height: $lh

=breakpoint($name)
    @if not map-has-key($breakpoints, $name)
        @warn "Invalid breakpoint `#{$name}`."
    @else
        @if map-get($breakpoints, $name) == ''
            @content
        @else 
            @media (min-width: map-get($breakpoints, $name))
                @content

@function get-breakpoint-property($prop, $bp)
    @return map-get(map-get($bp-sizes, $bp), $prop)

@each $size, $data in $bp-sizes
    $bsf: get-breakpoint-property(base-font-size, $size)
    $blh: get-breakpoint-property(base-line-height, $size)
    $s: get-breakpoint-property(scale, $size)

    +breakpoint($size)
        @each $label in $font-sizes
            %#{$label}
                +generate-font-properties($label, $bsf, $blh, $s)

=hide-text
    position: relative
    height: 0
    width: 0
    margin: 0
    padding: 0
    overflow: hidden
    left: -99999999px

=background-replacement
    text-indent: 100%
    white-space: nowrap
    overflow: hidden


h1, h2, h3, h4, h5, h6
    font-family: $heading-font
    color: $foreground-color

p, ol, ul
    font-family: $body-font
    color: $foreground-color

a
    color: $link-color

    &:visited
        color: $link-visited-color

code, pre
    font-family: $monospace-font
