@import './_colors.sass'
@import './_typography.sass'

body
    background-color: $background-color
    color: $foreground-color
h1
    +hide-text
    color: red



.pricingTiers 
    h2
        text-align: center

    .tiers
        display: flex
        flex-flow: row wrap
        justify-content: center
        list-style-type: none
        margin: 0 $base-line-height / 4
        padding: 0
        +breakpoint('medium')
            flex-flow: row nowrap

        > li
            display: flex
            flex-flow: column nowrap
            justify-content: space-between
            background-color: fade-out($highlight-color, 0.5)
            margin: $base-line-height / 4
            padding: $base-line-height / 2
            max-width: $base-line-height * 10
            flex: auto

            > h3
                text-align: center;
                display: block
                height: $base-line-height * 2
                background: center center / contain no-repeat
                +background-replacement

            > .copy
                flex: 1 0 auto;

            > .cta 
                button, a
                    display: block
                    margin: 0 auto
                    font-family: $heading-font
                    @extend %bq

            &#nyxlVenoms > h3
                background-image: url('../images/5DV_Logo.png')
            &#lonestarVanguard > h3
                background-image: url('../images/LSV_Logo.png')
            &#atlRF > h3
                background-image: url('../images/ATL_Logo.png')
            &#torontoAF > h3
                background-image: url('../images/Toronto AF_Logo.png')

    > header, > footer
        margin: $base-line-height / 2