@import './_colors.sass'
@import './_typography.sass'

body
    background-color: $background-color
    color: $foreground-color
h1
    +hide-text
    color: red

.pricingTiers
    > header
        $overhang: $base-line-height * 2
        margin: 0 0 0 - $overhang
        padding: 0 0 $overhang
        min-height: $base-line-height * 2
        background: url('../images/Skyline_copy.png') bottom center / cover no-repeat fade-out($foreground-color, 0.8)
        display: flex
        flex-flow: column nowrap
        justify-content: center
        +breakpoint('medium')
            margin: 0 0 (0 - ($overhang * 2))
            padding: 0 0 $overhang * 2
            min-height: $base-line-height * 8

        h2
            text-align: center
            @extend %sh
            margin: 0
            /* color: $primary-color */
            text-shadow: 2px 2px 2px $secondary-color

        .meta
            font-family: $heading-font
            @extend %bq
            display: flex
            flex-flow: row wrap
            justify-content: center
            text-shadow: 2px 2px 2px $secondary-color

            div
                margin: 0 $base-line-height / 4
                white-space: nowrap

                & + div
                    margin-left: 0
                    
                    &::before
                        content: "\25CF"
                        margin-right: $base-line-height / 4

        
    > .content
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), $background-color 50px)

    .tiers
        display: flex
        flex-flow: row wrap
        justify-content: center
        list-style-type: none
        margin: 0 $base-line-height / 4
        padding: 0
        +breakpoint('medium')
            flex-flow: row nowrap

        > li
            display: flex
            flex-flow: column nowrap
            justify-content: space-between
            background-color: $column-background-color
            color: $column-foreground-color
            margin: $base-line-height / 4
            padding: $base-line-height / 2
            max-width: $base-line-height * 8
            flex: auto

            p
                color: $column-foreground-color

            > h3 a, h4
                text-align: center;
                display: block
                height: $base-line-height * 2
                background: center center / contain no-repeat
                +background-replacement

            > .copy
                flex: 1 0 auto;

            > .cta 
                button, a.donation
                    display: block
                    margin: 0 auto
                    margin-top: 20px;
                    font-family: $heading-font
                    text-align: center;
                    border: 0.1em solid #DADADA;
                    border-radius: 0.12em;
                    box-sizing: border-box;
                    text-decoration: none;
                    background-color:#F3F3F3
                    @extend %bq

                a.donation:hover 
                    color:#333333
                    border: 0.1em solid #C6C6C6;
                    background: #F7F7F7;
                    box-shadow: 1px 1px 1px #EAEAEA;

                a.donation:active
                    box-shadow: inset 1px 1px 1px #DFDFDF;

            .copy
                span.slogan
                    text-align: center;
                    font-weight: bold;
                    display: block;

            &#nyxlVenoms
                order: 1
                > h3 a
                    background-image: url('../images/5DV_end2-11.png')
                h4 
                    background-image: url('../images/5DV_University Settlement.png')
            &#lonestarVanguard
                order: 3
                > h3 a
                    background-image: url('../images/LSV_Logo.png')
                h4 
                    background-image: url('../images/LSV_DCH_Logo.png')
            &#atlRF 
                order: 2
                > h3 a
                    background-image: url('../images/ATL-RF-Logo-Long.png')
                h4 
                    background-image: url('../images/ATL_CHA_Logo.png')
                    height: 125px;
            &#torontoAF
                order: 4
                > h3 a
                    background-image: url('../images/Toronto AF_Logo.png')
                h4 
                    background-image: url('../images/SMHF_Logo-_BLACK_insupportof.jpg')

    > footer
        margin: $base-line-height / 2
        display: flex
        flex-flow: column nowrap
        align-items: center

        .aboutUs
            text-align: center

        .sponsorships
            text-align: center
            margin: $base-line-height / 2

            .partners
                list-style-type: none
                display: flex
                flex-flow: row wrap
                justify-content: center
                padding: 0
                margin: $base-line-height / 2 0
                
                $logo-height: 55px

                li a
                    display: block
                    height: $logo-height
                    background: center / cover no-repeat rgba(0,0,0,0)
                    margin: $base-line-height / 2 $base-line-height
                    +background-replacement

                #andbox a
                    width: $logo-height / 1072 * 1600
                    background-image: url('../images/Andbox_Logo.png')

                #waypoint a
                    width: $logo-height / 556 * 1432
                    background-image: url('../images/Waypoint_Logo.png')
