<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Welcome to 5 Deadly Venoms</h1>
    <section class="pricingTiers" id="homecoming">
        <header>
            <h2>
                Homecoming
            </h2>
        </header>
        <div class="content">
            <ol class="groups tiers">
                <li>
                    <h3>Group 1</h3>
                    <div class="branding"></div>
                    <div class="copy"></div>
                </li>
                <li>
                    <h3>Group 2</h3>
                    <div class="branding"></div>
                    <div class="copy"></div>
                </li>
                <li>
                    <h3>Group 3</h3>
                    <div class="branding"></div>
                    <div class="copy"></div>
                </li>
                <li>
                    <h3>Group 4</h3>
                    <div class="branding"></div>
                    <div class="copy"></div>
                </li>
            </ol>
        </div>
    </section>
</body>
</html>